// Custom color palettes.
// @link https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// @link https://material.io/resources/color
// @link http://mcg.mbitson.com

$sf-palette-primary: (
  50 : #e9ebed,
  100 : #c8ccd3,
  200 : #a4abb5,
  300 : #808997,
  400 : #646f81,
  500 : #49566b,
  600 : #424f63,
  700 : #394558,
  800 : #313c4e,
  900 : #212b3c,
  A100 : #83b1ff,
  A200 : #5092ff,
  A400 : #1d72ff,
  A700 : #0362ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$sf-palette-accent: (
  50 : #f3f3f3,
  100 : #e1e1e1,
  200 : #cdcdcd,
  300 : #b9b9b9,
  400 : #aaaaaa,
  500 : #9b9b9b,
  600 : #939393,
  700 : #898989,
  800 : #7f7f7f,
  900 : #6d6d6d,
  A100 : #fdeeee,
  A200 : #f8c0c0,
  A400 : #ff8686,
  A700 : #ff6d6d,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$sf-palette-warning: (
  50 : #fff6e0,
  100 : #ffe9b3,
  200 : #ffdb80,
  300 : #ffcd4d,
  400 : #ffc226,
  500 : #ffb700,
  600 : #ffb000,
  700 : #ffa700,
  800 : #ff9f00,
  900 : #ff9000,
  A100 : #ffffff,
  A200 : #fff9f2,
  A400 : #ffe0bf,
  A700 : #ffd4a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
